/*
#top {
  display: inline-block;
  float: left;
  padding-left: 50px;
}
/
#topleft{
display:inline-block;
}

#topright{
  float:right;
  display: flex;
}
*/
#logo{
  style: width:50px; height:45px;
  float:left;
  margin-left: 4%;
}

input{
  color: lightgrey;
  background-color: white;
  border-style: none;
  margin-left: 10px;
  float: left;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 0.5%
}

button{
  color: lightgrey;
  background-color: white;
  border: none;
  float: left;
  margin-right: 10%;
}

#tush{
  style: width:40px; height:30px;
  border-radius: 40%;
  display: inline-block;
  float: left;
  margin-left: 40%;
  margin-right: 3%;

}
/*---------------------------------------  */
.column1{
  float: left;
  width: 25%;
  padding:0px;
  color: lightgrey;
  font-size: 20px;
  line-height: 3;
  height: 100%;
  clear: left;
}
ul{
  list-style-type: none;
  margin: 40px;
  padding-left: -1px;
}

.column2{
  float: left;
  color: black;
  font-family: helvetica, sans-serif;
  position: relative;


}

#sub{
  color:white;
  background-color: red;
  font-weight: bold;
  border-radius: 5px;
  display: in-block;
  padding:10px 10px;
}

#bubble{
  background-color: #DCDCDC;
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
}

#likes{
  float: right;
  margin-right: 20px;
  margin-top: -100px;
}

#pier{
  float: left;
width: 900px;  */This doesnt make sense to me */
height: 00px;
border: 1px solid lightgrey;
background-color: #DCDCDC;
padding: 0px 70px 0px 90px;
}
/* ----------------------------------- */
figcaption{
  font-size: 30px;
  font-weight: bold;
}

#JB {
  font-size: 10px;
  font-weight:bold;
  color: lightgrey
}

#jessica{
  style: width:40px; height:30px;
  border-radius: 40%;
  display: inline-block;
  word-spacing: 5px;
}

#pretty{
  width:40x;
  height:40px;
  border-radius: 40%;
  display: inline-block;
}
 .Pretty{
  border: 1.5px solid #F5F5F5;
  background-color:  	#F5F5F5;
  padding: 20px 0 40 50;
  border-color: #F5F5F5 #F5F5F5 #F5F5F5 green;
  border-style: solid;
  padding: 20px 0 40px 10px;
  margin-top: 70px;
}


#guy{
  style: width:40px; height:30px;
  border-radius: 40%;
  display: inline-block;
}

.Guy{
  border: 1.5px solid white;
  padding: 20px 0 20px 0px;
}

#mum{
  width:35px;
  height:35px;
  border-radius: 40%;
  display: inline-block;
}

.Mum{
  border-color: #F5F5F5;
  background-color: #F5F5F5;
  border: 1.5px solid #F5F5F5;
  padding: 20px 0 20px 10px;
  margin-top: 50px;

}

#Pub{
  font-size: 15px;
  font-weight:lighter;
  color:lightgrey;
}

#bottomright{
  display: inline-block;
  float: right;
  padding-bottom: 50%;
}
